.elementor-54
  .elementor-element.elementor-element-88d26f2:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-54
  .elementor-element.elementor-element-88d26f2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-54 .elementor-element.elementor-element-88d26f2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-54
  .elementor-element.elementor-element-88d26f2
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-54 .elementor-element.elementor-element-ef68736 {
  text-align: left;
}
.elementor-54
  .elementor-element.elementor-element-2f4a5ce.elementor-view-stacked
  .elementor-icon {
  background-color: #252525;
}
.elementor-54
  .elementor-element.elementor-element-2f4a5ce.elementor-view-framed
  .elementor-icon,
.elementor-54
  .elementor-element.elementor-element-2f4a5ce.elementor-view-default
  .elementor-icon {
  fill: #252525;
  color: #252525;
  border-color: #252525;
}
.elementor-54 .elementor-element.elementor-element-2f4a5ce {
  --icon-box-icon-margin: 15px;
}
.elementor-54
  .elementor-element.elementor-element-2f4a5ce
  .elementor-icon-box-title {
  color: #000000;
}
.elementor-54
  .elementor-element.elementor-element-2f4a5ce
  .elementor-icon-box-title,
.elementor-54
  .elementor-element.elementor-element-2f4a5ce
  .elementor-icon-box-title
  a {
  font-size: 27px;
}
.elementor-54 .elementor-element.elementor-element-a63de35 {
  --spacer-size: 10px;
}
.elementor-54
  .elementor-element.elementor-element-fc09f90.elementor-view-stacked
  .elementor-icon {
  background-color: #252525;
}
.elementor-54
  .elementor-element.elementor-element-fc09f90.elementor-view-framed
  .elementor-icon,
.elementor-54
  .elementor-element.elementor-element-fc09f90.elementor-view-default
  .elementor-icon {
  fill: #252525;
  color: #252525;
  border-color: #252525;
}
.elementor-54 .elementor-element.elementor-element-fc09f90 {
  --icon-box-icon-margin: 15px;
}
.elementor-54
  .elementor-element.elementor-element-fc09f90
  .elementor-icon-box-title {
  color: #000000;
}
.elementor-54
  .elementor-element.elementor-element-fc09f90
  .elementor-icon-box-title,
.elementor-54
  .elementor-element.elementor-element-fc09f90
  .elementor-icon-box-title
  a {
  font-size: 27px;
}
.elementor-54 .elementor-element.elementor-element-e0af5da {
  --spacer-size: 10px;
}
.elementor-54
  .elementor-element.elementor-element-cf25b6b.elementor-view-stacked
  .elementor-icon {
  background-color: #252525;
}
.elementor-54
  .elementor-element.elementor-element-cf25b6b.elementor-view-framed
  .elementor-icon,
.elementor-54
  .elementor-element.elementor-element-cf25b6b.elementor-view-default
  .elementor-icon {
  fill: #252525;
  color: #252525;
  border-color: #252525;
}
.elementor-54 .elementor-element.elementor-element-cf25b6b {
  --icon-box-icon-margin: 15px;
}
.elementor-54
  .elementor-element.elementor-element-cf25b6b
  .elementor-icon-box-title {
  color: #000000;
}
.elementor-54
  .elementor-element.elementor-element-cf25b6b
  .elementor-icon-box-title,
.elementor-54
  .elementor-element.elementor-element-cf25b6b
  .elementor-icon-box-title
  a {
  font-size: 27px;
}
.elementor-54 .elementor-element.elementor-element-b496cbc {
  text-align: center;
}
.elementor-54
  .elementor-element.elementor-element-b496cbc
  .elementor-heading-title {
  color: #000000;
  font-size: 42px;
}
.elementor-54
  .elementor-element.elementor-element-2d9259f.elementor-view-stacked
  .elementor-icon {
  background-color: #252525;
}
.elementor-54
  .elementor-element.elementor-element-2d9259f.elementor-view-framed
  .elementor-icon,
.elementor-54
  .elementor-element.elementor-element-2d9259f.elementor-view-default
  .elementor-icon {
  fill: #252525;
  color: #252525;
  border-color: #252525;
}
.elementor-54 .elementor-element.elementor-element-2d9259f {
  --icon-box-icon-margin: 15px;
}
.elementor-54
  .elementor-element.elementor-element-2d9259f
  .elementor-icon-box-title {
  color: #000000;
}
.elementor-54
  .elementor-element.elementor-element-2d9259f
  .elementor-icon-box-title,
.elementor-54
  .elementor-element.elementor-element-2d9259f
  .elementor-icon-box-title
  a {
  font-size: 27px;
}
.elementor-54 .elementor-element.elementor-element-9df4f83 {
  --spacer-size: 10px;
}
.elementor-54
  .elementor-element.elementor-element-bc4203e.elementor-view-stacked
  .elementor-icon {
  background-color: #252525;
}
.elementor-54
  .elementor-element.elementor-element-bc4203e.elementor-view-framed
  .elementor-icon,
.elementor-54
  .elementor-element.elementor-element-bc4203e.elementor-view-default
  .elementor-icon {
  fill: #252525;
  color: #252525;
  border-color: #252525;
}
.elementor-54 .elementor-element.elementor-element-bc4203e {
  --icon-box-icon-margin: 15px;
}
.elementor-54
  .elementor-element.elementor-element-bc4203e
  .elementor-icon-box-title {
  color: #000000;
}
.elementor-54
  .elementor-element.elementor-element-bc4203e
  .elementor-icon-box-title,
.elementor-54
  .elementor-element.elementor-element-bc4203e
  .elementor-icon-box-title
  a {
  font-size: 27px;
}
.elementor-54 .elementor-element.elementor-element-8a7892c {
  --spacer-size: 10px;
}
.elementor-54
  .elementor-element.elementor-element-16786d4.elementor-view-stacked
  .elementor-icon {
  background-color: #252525;
}
.elementor-54
  .elementor-element.elementor-element-16786d4.elementor-view-framed
  .elementor-icon,
.elementor-54
  .elementor-element.elementor-element-16786d4.elementor-view-default
  .elementor-icon {
  fill: #252525;
  color: #252525;
  border-color: #252525;
}
.elementor-54 .elementor-element.elementor-element-16786d4 {
  --icon-box-icon-margin: 15px;
}
.elementor-54
  .elementor-element.elementor-element-16786d4
  .elementor-icon-box-title {
  color: #000000;
}
.elementor-54
  .elementor-element.elementor-element-16786d4
  .elementor-icon-box-title,
.elementor-54
  .elementor-element.elementor-element-16786d4
  .elementor-icon-box-title
  a {
  font-size: 27px;
}
.elementor-54
  .elementor-element.elementor-element-ded0180
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(
    280deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 66%
  );
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-54 .elementor-element.elementor-element-ded0180 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-54 .elementor-element.elementor-element-45c6349 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-54
  .elementor-element.elementor-element-45c6349
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-54 .elementor-element.elementor-element-5f04aff {
  text-align: left;
}
.elementor-54
  .elementor-element.elementor-element-5f04aff
  .elementor-heading-title {
  color: #000000;
  font-size: 42px;
}
.elementor-54
  .elementor-element.elementor-element-ff11302
  .elementor-icon-list-icon
  i {
  color: #000000;
  transition: color 0.3s;
}
.elementor-54
  .elementor-element.elementor-element-ff11302
  .elementor-icon-list-icon
  svg {
  fill: #000000;
  transition: fill 0.3s;
}
.elementor-54 .elementor-element.elementor-element-ff11302 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-54
  .elementor-element.elementor-element-ff11302
  .elementor-icon-list-text {
  transition: color 0.3s;
}
.elementor-54
  .elementor-element.elementor-element-c98777e
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-54
  .elementor-element.elementor-element-c98777e
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-54 .elementor-element.elementor-element-902dbda img {
  height: 58px;
}
.elementor-54
  .elementor-element.elementor-element-5bf5e90:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-54
  .elementor-element.elementor-element-5bf5e90
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://pathwayhospitals.com/wp-content/uploads/2020/05/project.jpg");
  background-position: center left;
}
.elementor-54
  .elementor-element.elementor-element-5bf5e90
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(
    280deg,
    rgba(255, 255, 255, 0.54) 0%,
    #ffffff 100%
  );
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-54 .elementor-element.elementor-element-5bf5e90 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-54 .elementor-element.elementor-element-deb5263 iframe {
  height: 422px;
}
.elementor-bc-flex-widget
  .elementor-54
  .elementor-element.elementor-element-5066611.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-54
  .elementor-element.elementor-element-5066611.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-54
  .elementor-element.elementor-element-02b6d90
  .elementor-counter-number-wrapper {
  color: #000000;
}
.elementor-54
  .elementor-element.elementor-element-02b6d90
  > .elementor-widget-container {
  border-radius: 100% 100% 100% 100%;
}
.elementor-54 .elementor-element.elementor-element-3b20667 {
  text-align: center;
}
.elementor-54
  .elementor-element.elementor-element-5ca9dca
  .elementor-counter-number-wrapper {
  color: #000000;
}
.elementor-54
  .elementor-element.elementor-element-5ca9dca
  > .elementor-widget-container {
  border-radius: 100% 100% 100% 100%;
}
.elementor-54
  .elementor-element.elementor-element-afda2e6
  .elementor-counter-number-wrapper {
  color: #000000;
}
.elementor-54
  .elementor-element.elementor-element-afda2e6
  > .elementor-widget-container {
  border-radius: 100% 100% 100% 100%;
}
.elementor-54 .elementor-element.elementor-element-022fa5b {
  text-align: center;
}
.elementor-54
  .elementor-element.elementor-element-5ce1387
  .elementor-counter-number-wrapper {
  color: #000000;
}
.elementor-54
  .elementor-element.elementor-element-5ce1387
  > .elementor-widget-container {
  border-radius: 100% 100% 100% 100%;
}
@media (max-width: 767px) {
  .elementor-54
    .elementor-element.elementor-element-b496cbc
    .elementor-heading-title {
    font-size: 32px;
    line-height: 42px;
  }
  .elementor-54
    .elementor-element.elementor-element-5f04aff
    .elementor-heading-title {
    font-size: 32px;
    line-height: 42px;
  }
  .elementor-54 .elementor-element.elementor-element-2fb2b14 {
    width: 50%;
  }
  .elementor-54
    .elementor-element.elementor-element-02b6d90
    .elementor-counter-number-wrapper {
    font-size: 32px;
  }
  .elementor-54
    .elementor-element.elementor-element-5ca9dca
    .elementor-counter-number-wrapper {
    font-size: 32px;
  }
  .elementor-54 .elementor-element.elementor-element-c312ee7 {
    width: 50%;
  }
  .elementor-54
    .elementor-element.elementor-element-afda2e6
    .elementor-counter-number-wrapper {
    font-size: 32px;
  }
  .elementor-54
    .elementor-element.elementor-element-5ce1387
    .elementor-counter-number-wrapper {
    font-size: 32px;
  }
}
@media (min-width: 768px) {
  .elementor-54 .elementor-element.elementor-element-5a32622 {
    width: 30%;
  }
  .elementor-54 .elementor-element.elementor-element-abb23d5 {
    width: 39.643%;
  }
  .elementor-54 .elementor-element.elementor-element-3699cfa {
    width: 30.023%;
  }
  .elementor-54 .elementor-element.elementor-element-7a8e014 {
    width: 45.536%;
  }
  .elementor-54 .elementor-element.elementor-element-c98777e {
    width: 54.464%;
  }
}
